rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Helper functions
    function isAdmin() {
      return request.auth != null;
    }

    // Default deny all reads and writes
    match /{document=**} {
      allow read, write: if false;
    }

    // Allow admins full access to all collections
    match /news/{document=**} {
      allow read, write: if isAdmin();
    }
    match /site-config/{document=**} {
      allow read, write: if isAdmin();
    }
    match /afiliaciones/{document=**} {
      allow read, write: if isAdmin();
    }
    match /contactSubmissions/{document=**} {
      allow read, write: if isAdmin();
    }
    match /fiscalizaciones/{document=**} {
      allow read, write: if isAdmin();
    }

    // --- Public Access Rules ---
    
    // Allow anyone to READ the form definitions
    match /form-definitions/{formId} {
      allow get: if true;
    }

    // Allow anyone to CREATE (write) new submissions, but not read them.
    match /afiliaciones/{submissionId} {
        allow create: if true;
    }
    match /contactSubmissions/{submissionId} {
        allow create: if true;
    }
    match /fiscalizaciones/{submissionId} {
        allow create: if true;
    }
  }
}
