
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Allow read/write access to all users under all conditions
    // Warning: This is not secure. You should secure your database
    // before deploying to production.
    // DANGER: ANYONE WITH YOUR PROJECT ID CAN READ, WRITE, AND DELETE
    // YOUR DATA.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
